@model IEnumerable<Estoquei.Models.EntradaeSaida>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeMovimentacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimentacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMovimentacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeMovimentacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimentacao.NomeTipoMovimentacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMovimentacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
